absl-py
accelerate
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
alembic
annotated-types
anyio
appdirs
asttokens
astunparse
attrs
audioop-lts
autograd
autoray
bayes
bayesian-optimization
beautifulsoup4
botorch
brotli
cachetools
cartopy
cattrs
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
colorlog
contourpy
coremltools
cssselect2
cycler
datasets
decorator
dgllife
diastatic-malt
dill
distro
docx
einops
evaluate
executing
fastapi
ffmpy
filelock
fonttools
frozenlist
fsspec
future
gast
geographiclib
gpytorch
gradio
gradio-client
groovy
grpcio
h11
httpcore
httpx
huggingface-hub
hyperopt
idna
imbalanced-learn
imblearn
iniconfig
ipython
ipython-pygments-lexers
jaxtyping
jedi
jinja2
jiter
joblib
jpype1
kiwisolver
lightgbm
linear-operator
llvmlite
lxml
mako
markdown
markdown-it-py
markupsafe
matplotlib
matplotlib-inline
mdurl
mlx
mordred
mordredcommunity
mpmath
multidict
multipledispatch
multiprocess
mypy-extensions
networkx
numba
numpy
obspy
openai
opt-einsum
optuna
optuna-integration
orjson
outcome
packaging
padelpy
pandas
parso
patsy
pdfkit
pennylane
pennylane-lightning
pexpect
pillow
pip
pluggy
prompt-toolkit
propcache
protobuf
psutil
ptyprocess
pure-eval
py4j
pyaml
pyarrow
pycparser
pydantic
pydantic-core
pydub
pydyf
pygments
pyparsing
pyphen
pyproj
pyre-extensions
pyro-api
pyro-ppl
pyshp
pysocks
pytest
python-dateutil
python-dotenv
python-multipart
pytorch-tabnet
pytz
pyyaml
rdkit
regex
reportlab
requests
rf
rich
ruff
rustworkx
safehttpx
safetensors
scikit-learn
scipy
scipy-openblas32
seaborn
selenium
semantic-version
sentencepiece
setuptools
shap
shapely
shellingham
six
sklearn-compat
slicer
sniffio
sortedcontainers
soupsieve
sqlalchemy
stack-data
starlette
statsmodels
sympy
tensorboard
tensorboard-data-server
termcolor
threadpoolctl
tinycss2
tinyhtml5
tokenizers
tomlkit
torch
torch-geometric
torchvision
tqdm
traitlets
transformers
trio
trio-websocket
typer
typing-extensions
typing-inspect
typing-inspection
tzdata
umap
urllib3
uvicorn
wadler-lindig
wcwidth
weasyprint
webdriver-manager
webencodings
websocket-client
websockets
werkzeug
wheel
wkhtmltopdf
wsproto
xgboost
xxhash
yarl
zopfli
